<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activity Stats</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h1>{{ profile.github_username }}'s Activity Stats</h1>

    <h2>Commits per Repository</h2>
    <canvas id="commitChart" width="400" height="200"></canvas>

    <h2>Programming Languages Usage</h2>
    <canvas id="languageChart" width="400" height="200"></canvas>

    <script>
        var ctxCommit = document.getElementById('commitChart').getContext('2d');
        var commitChart = new Chart(ctxCommit, {
            type: 'bar',
            data: {
                labels: {{ repo_names|safe }},
                datasets: [{
                    label: 'Number of Commits',
                    data: {{ commit_counts|safe }},
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        var ctxLanguage = document.getElementById('languageChart').getContext('2d');
        var languageChart = new Chart(ctxLanguage, {
            type: 'pie',
            data: {
                labels: {{ lang_names|safe }},
                datasets: [{
                    label: 'Programming Languages Usage',
                    data: {{ lang_counts|safe }},
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            }
        });
    </script>
</body>
</html>
