<!-- templates/base.html -->

{% load static %} <!-- Asigură-te că ai acest tag la începutul fișierului -->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My GitHub App{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<div class="navbar">
    <a href="{% url 'register' %}">Register</a>
    <a href="{% url 'profile' %}">Profile</a>
    <a href="{% url 'activity_stats_page' %}">Repositories Activity Status</a>
    <a href="{% url 'contribution_stats' %}">Repositories Contribution Status</a>
    <a href="{% url 'language_statistics' %}">Programming Language Statistics</a>
     <a href="{% url 'github_interactions' %}">Github Interaction</a>
</div>

<div class="container main-content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
